.contianer{
    width: 100%;
    display: flex;
    .nav-left{
      max-width: 277px;
      min-width: 200px;
      height: calc(100vh);
      background: #001529;
    }
    .main{
        flex-grow: 1;
        height: calc(100vh);
        background: #F1F3F5;
        overflow: auto;
    }
    .content{
        position: relative;
        padding: 20px;
        
    }
}